body {
  overflow-x: hidden;
}

a {
  color: #242424;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding: 0;
  margin: 0;
}

.header {
  float: right;
  margin-right: 15px;
}

.header ul li {
  display: inline-block;
  margin-left: 10px;
  font-size: 22px;
}

.clearfix {
  clear: both;
}

.search-box {
  width: 700px;
  margin: 100px auto;
  text-align: center;
}

.search-box .search-input {
  width: 600px;
  margin: 10px;
  padding: 10px;
  font-size: 22px;
  border-radius: 22px;
  border: 1px solid #c5c5c5;
}

.search-box .search-input:focus {
  border-color: #a3a3a3;
  outline: 0;
}

.search-box .search-btn {
  font-size: 22px;
  margin-top: 20px;
  padding: 14px;
  border: 2px solid white;
  border-radius: 5px;
}

.search-box .search-btn:hover {
  border: 2px solid #c5c5c5;
  cursor: pointer;
}

.footer {
  background: #eeeeee;
  color: black;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  border-top: 1px solid #e6e6e6;
  padding: 10px 0;
}

.footer ul li {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
}

.right-footer {
  margin-right: 17px;
  float: right;
}

.left-footer {
  margin-left: 5px;
  float: left;
}
